html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* html {
  font-size: 93.75%;
}

html {
  font-size: 15px;
  line-height: 1.86667em;
}

body {
  background: white;
  color: #555555;
  font-family: helvetica, sens-serif;
}

strong {
  font-weight: bold;
}

a {
  color: #55c0cf;
}

pre {
  background: none;
  padding: 15px;
  display: block;
  background: #e6fded;
  color: #626262;
}

code {
  padding: 2px 4px;
  margin: 0 2px;
  background: #e6fded;
  color: #626262;
}

h1 {
  font-weight: bold;
  font-size: 1.33333em;
  line-height: 2.1em;
}

.btn-primary {
  background: #55c0cf;
  border: none;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}

.container {
  padding: 1.86667em;
  width: 95%;
  margin: 0 auto;
  -webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
}
.container p {
  text-align: justify;
}
.container br {
  display: none;
}
.container section + section {
  margin-top: 1.86667em;
}
@media (min-width: 801px) {
  .container {
    width: 70%;
  }
  .container br {
    display: block;
  }
}

.header {
  height: 450px;
  background: url("images/header.png") #333333 center top;
  position: relative;
  text-align: center;
  -webkit-background-size: 1093px 517px;
  -moz-background-size: 1093px 517px;
  -o-background-size: 1093px 517px;
  background-size: 1093px 517px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
  .header {
    background-image: url("images/header@2x.png");
  }
}
.header a {
  color: #d2ff00;
}
.header .container {
  background: rgba(108, 208, 196, 0.8);
  color: white;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}
.header:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.header:after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: inset 0 -10px 15px -8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 -10px 15px -8px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -10px 15px -8px rgba(0, 0, 0, 0.5);
}

.main .example {
  padding: 0.93333em;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
@media (min-width: 801px) {
  .main .example {
    padding: 1.86667em;
  }
}
.main .example img {
  float: left;
  height: auto;
  max-width: 100%;
  margin-right: 0.93333em;
  margin-top: 0.37333em;
}
.main .example .comment {
  opacity: 0.5;
  font-style: italic;
}
.main .example blockquote {
  text-align: justify;
}
.main ol {
  list-style: outside decimal;
  margin-left: 1.86667em;
}
.main ol li {
  margin-bottom: 1.86667em;
}
.main h3 {
  font-weight: bold;
}

.footer {
  text-align: center;
  background: #6b8989;
  color: white;
  padding: 1.86667em;
  position: relative;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  font-size: 0.86667em;
  line-height: 2.15385em;
}
@media (min-width: 801px) {
  .footer li {
    display: inline-block;
    margin: 0 1.86667em;
  }
}
.footer a {
  color: white;
  padding: 5px;
}
.footer:after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
.footer .copyright {
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.73333em;
  line-height: 2.54545em;
}
