.kp-highlight {
  padding: 2px 3px;
  display: inline;
  background: #6edde1;
  color: #004a75;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.kp-highlight .kp-wrapper {
  display: none !important;
  position: fixed !important;
  width: 200px !important;
  z-index: 99999999 !important;
  margin: 0 !important;
  padding: 0 !important;
  padding-top: 30px !important;
  margin-left: -20px !important;
  margin-top: -15px !important;
}
.kp-highlight .kp-wrapper .kp-container {
  position: relative !important;
  max-width: 100% !important;
  display: block !important;
  padding: 10px !important;
  font-size: 13px !important;
  min-height: 70px !important;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.kp-highlight .kp-wrapper .kp-container a.kp-title {
  width: auto !important;
  height: auto !important;
  padding: 0 !important;
  margin: 0 !important;
  display: inline !important;
  letter-spacing: 0.1em !important;
  line-height: 1.6em !important;
  font-weight: bold;
  color: #3496b1;
}
.kp-highlight .kp-wrapper .kp-container a.kp-title:hover {
  color: #2e859d;
}
.kp-highlight .kp-wrapper .kp-container img.kp-avatar {
  margin: 0 !important;
  width: 50px !important;
  height: 50px !important;
  float: left !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.kp-highlight .kp-wrapper .kp-container p.kp-text {
  overflow: visible !important;
  height: auto !important;
  clear: none !important;
  width: auto !important;
  text-indent: 0 !important;
  text-align: left !important;
  white-space: normal !important;
  padding: 0 !important;
  margin: 0 !important;
  margin-left: 60px !important;
  font-size: 13px !important;
  line-height: 1.6em !important;
  float: none !important;
  color: #666666;
}
.kp-highlight .kp-wrapper .kp-container:before, .kp-highlight .kp-wrapper .kp-container:after {
  content: "" !important;
  display: block !important;
  position: absolute !important;
}
.kp-highlight .kp-wrapper .kp-container:before {
  width: 8px !important;
  height: 8px !important;
  left: 10px !important;
  top: -3px !important;
  background: white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.kp-highlight .kp-wrapper .kp-container:after {
  left: 5px !important;
  top: 0 !important;
  width: 20px !important;
  height: 10px !important;
  background: white;
}
.kp-highlight:hover .kp-wrapper {
  display: inline-block !important;
}
