@import 'compass/reset'
@import 'compass/css3/box-shadow'
@import 'compass/css3/text-shadow'
@import 'compass/css3/border-radius'
@import 'compass/css3/background-size'
@import 'compass/layout/grid-background'
@import 'compass/typography/vertical_rhythm'

@import 'mixins'

$base-font-size: 15px
$base-line-height: 28px
$rhythm-unit: 'px'

$grid-background-baseline-height: $base-line-height

+establish-baseline

$bg-color: #fff
$header-bg-color: #6cd0c4
$footer-bg-color: #6b8989
$text-color: #555
$link-color: #55c0cf
$code-bg-color: #e6fded
$link-hover-color: darken($link-color, 8)

body
  background: $bg-color
  color: $text-color
  font-family: helvetica, sens-serif
strong
  font-weight: bold
a
  color: $link-color

pre
  background: none
  padding: 15px
  display: block
  background: $code-bg-color
  color: lighten($text-color, 5)

code
  padding: 2px 4px
  margin: 0 2px
  background: $code-bg-color
  color: lighten($text-color, 5)

section + section
  +leader(1)
h1
  font-weight: bold
  +text-shadow(0 0 2px rgba(#000, .3))
  +adjust-font-size-to(20px, 1.5)
.container
  width: 70%
  padding: rhythm(1)

.header
  height: 900px * .5
  background: url('images/header.png') #333
  position: relative
  +re
    background-image: url('images/header@2x.png')
  +background-size(1093px 517px)
  a
    color: $text-color
  .container
    background: rgba($header-bg-color, .8)
    color: #fff
    position: relative
    top: 160px
  &:after
    content: ''
    display: block
    position: absolute
    height: 20px
    width: 100%
    bottom: 0
    left: 0
    +box-shadow(inset 0 -10px 15px -8px rgba(#000, .5))

.main
  .example
    padding: rhythm(1)
    border: 1px solid #eee
    +border-radius()
    img
      float: left
      height: auto
      margin-right: rhythm(.5)
      margin-top: rhythm(.2)
    .comment
      opacity: .5
      font-style: italic
    blockquote
      text-align: justify
  ol
    list-style: outside decimal
    margin-left: rhythm(1)
    li
      +trailer(1)
  h3
    font-weight: bold

.footer
  text-align: center
  background: $footer-bg-color
  color: $bg-color
  padding: rhythm(1)
  position: relative
  +text-shadow(0 0 2px rgba(#000, .3))
  +adjust-font-size-to(13px, 1)
  li
    display: inline-block
    margin: 0 rhythm(1)
  a
    color: $bg-color
    padding: 5px
  &:after
    content: ''
    display: block
    position: absolute
    height: 20px
    width: 100%
    top: 0
    left: 0
    +box-shadow(inset 0 10px 10px -10px rgba(#000, .5))
  .copyright
    color: rgba($bg-color, .3)
    +adjust-font-size-to(11px)
