@import 'mixins'
@import 'base'
@import 'global'

.container
  padding: rhythm(1)
  width: 95%
  margin: 0 auto
  +transition(width .2s)
  p
    text-align: justify
  br
    display: none
  section + section
    +leader(1)
  +ns
    width: 70%
    br
      display: block

.header
  height: 450px
  background: url('images/header.png') #333 center top
  position: relative
  text-align: center

  +re
    background-image: url('images/header@2x.png')
  +background-size(1093px 517px)
  a
    color: $header-link-color
  .container
    background: rgba($header-bg-color, .8)
    color: #fff
    text-align: left
    display: inline-block
    vertical-align: middle
  &:before
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle
  &:after
    content: ''
    display: block
    position: absolute
    height: 20px
    width: 100%
    bottom: 0
    left: 0
    +box-shadow(inset 0 -10px 15px -8px rgba(#000, .5))

.main
  .example
    padding: rhythm(.5)
    border: 1px solid #eee
    +border-radius()
    +ns
      padding: rhythm(1)
    img
      float: left
      height: auto
      max-width: 100%
      margin-right: rhythm(.5)
      margin-top: rhythm(.2)
    .comment
      opacity: .5
      font-style: italic
    blockquote
      text-align: justify
  ol
    list-style: outside decimal
    margin-left: rhythm(1)
    li
      +trailer(1)
  h3
    font-weight: bold

.footer
  text-align: center
  background: $footer-bg-color
  color: $bg-color
  padding: rhythm(1)
  position: relative
  +text-shadow(0 0 2px rgba(#000, .3))
  +adjust-font-size-to(13px, 1)
  li
    +ns
      display: inline-block
      margin: 0 rhythm(1)
  a
    color: $bg-color
    padding: 5px
  &:after
    content: ''
    display: block
    position: absolute
    height: 20px
    width: 100%
    top: 0
    left: 0
    +box-shadow(inset 0 10px 10px -10px rgba(#000, .5))
  .copyright
    text-align: center
    color: rgba($bg-color, .3)
    +adjust-font-size-to(11px)
