title = data['site-title']
meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui"
meta charset="utf-8"
meta content=data['site-title'] property="og:title"
meta content=data['site-name'] property="og:site_name"
meta content=data['og-url'] property="og:url"
meta content=data['og-image'] property="og:image"
meta content=data['site-description'] property="og:description"
meta content=data['og-type'] property="og:type"
meta content=data['fb-admins'] property="fb:admins"
= stylesheet_link_tag \
  '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', \
  'kp-highlight.css', \
  'all.css'
